@CHARSET "ISO-8859-1";
body {
    background-image: url(C:\Users\udayk\Documents\GitHub\hsh fork\WebContent\images\add home.jpg);
    background-position: center top;
    background-size: 100% auto;
}