@CHARSET "UTF-8";

body {
    color: white;
	margin: 0px;
	padding: 0px;
	background-color: #536cb1; 
}

header {
  	vertical-align: middle;
  	font-family: "Dopestyle", Helvetica, sans-serif;
  	src: url("fonts/Dopestyle.ttf");
  	font-size: 2em;
}

header ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

header li {
	height: 100px;
	line-height: 100px;
	float: left;
	display: table;
	vertical-align: middle;
}

footer li {
	float: left;
	display: table;
	vertical-align: middle;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link, a:visited {
	color: white;
}

footer {
	vertical-align: middle;
  	font-family: Helvetica, sans-serif;
  	font-size: 1em;
}

#logo {
	margin-right: 20%;
}

#logo img {
	width: 100px;
}

#logo a {
}


.navbar-form {
	display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
    height: 100px;
    line-height: 100px;
}

#srch-term {
	display: inline-block;
	height: 30px;
	border: none;
	padding: 0;
}

#submit-search {
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	height: 30px;
	width: 30px;
	background-size: 95% 95%;
	background-repeat: no-repeat;
	background-image: url(../images/search.png);
	margin-left: -15px;
}