@CHARSET "UTF-8";

h1{text-align:center;
   margin-top:50px;
} 

p{text-align:center;}

/* body{
    background-image:url(../images/1.jpg);
    background-size: cover;
	text-align:center;
} */

div{width: 400px;
	height: 400px;
	margin-top:150px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border: 1px solid black;
	filter:alpha(opacity=60);
	opacity:0.6;}





body{background-image: url(http://img06.tooopen.com/images/20160921/tooopen_sy_179583447187.jpg);
	 background-size: cover;
}




